Repository explosion/spacy-transformers, pull requests merged in 2023-03, with the labels that each got.

#357 Add test for textcat CNN issue
  spacy_transformers/tests/test_textcatcnn.py
Labels: tests

#368 Implement coalesced pooling over entire batches
  spacy_transformers/layers/trfs2arrays.py
Labels: enhancement, perf / speed, feat / pipeline

#377 Switch to smaller model for test_transformer_pipeline_tagger_internal
  spacy_transformers/tests/test_tok2vectransformer.py
Labels: perf / memory, tests
